/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

.shadow{
	background: url(/images/pattern/dot-lapantiga.png) repeat fixed;
    background-color: #fff;
  -webkit-box-shadow: 3px 4px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 23px -6px rgba(0,0,0,0.75);
box-shadow: 3px 4px 23px -6px rgba(0,0,0,0.75);
}

.spinner {

	width: 240px
}